.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app-footer {
    height: 100px;
    padding: 15px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-footer a,
.app-footer div {
    height: fit-content;
}

.fill-content {
    display: flex !important;
    flex-direction: column;
    flex-grow: 1;
}

.search-panel-input > .results {
    max-height: 300px;
    overflow: auto;
    z-index: 1001 !important;
}

.search-panel-input > .results > .result > .image {
    min-width: 5em !important;
    border-radius: 0 !important;
}

.search-panel-input {
    min-width: 0 !important;
    flex-shrink: 1;
}

.search-panel-input > .results > .result  {
    display: flex !important;
}

.item > .content > .a {
    cursor: pointer;
}

.app-header {
    margin-bottom: 10px;
    z-index: 1001 !important;
}

.result-item {
    transition: background 200ms linear;
}

.result-item:hover {
    background: rgba(0,0,0,.02) !important;
}

.home-page-content {
    overflow-y: auto;
    margin-top: 1em !important;
}

main {
    margin-top: 90px;
}

@media only screen and (max-width: 767px) {
    .result-profile-sticky > div:nth-child(2) {
        position: inherit !important;
    }
}

@media only screen and (max-width: 374px) {
    .ui.pagination.menu {
        font-size: 0.9rem !important;
    }

    .attached.tabular.menu > a {
        font-size: 0;
    }

    .attached.tabular.menu > a > i {
        font-size: 20px;
        margin: 10px 20px !important;
    }

    .extra > .ui.label {
        margin-top: 3px;
    }

    .ui.segment.result-item {
        word-break: break-word;
    }
}

@media only screen and (max-width: 321px) {
    .app-footer .item {
        margin: 0 3px !important;
    }

    .example-buttons > button {
        margin-top: 3px !important;
    }
}